<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>getStake</h1>

<table>
    <tr>
        <td><%= Stake.stake %></td>
        <td><%= Stake.unstake %></td>
        <td><%= Stake.unstakeBlockHeight %></td>
        <td><%= Stake.blockHeight %></td>
    </tr>
</table>
</body>
</html>